@import url(style2.css);

body{
    height: auto;
}

.poster {
    position: relative;
    height: 60vh;
    background: linear-gradient(to right, #09134c8c, rgba(0, 0, 0, 0)), url('pages.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 2s ease-in-out;
}


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.error h1 {
    font-size: 300px;
}

.error h1 span {
    color: var(--primary);
}