@import url(style.css);
@import url(style2.css);


.poster {
    position: relative;
    height: 60vh;
    background: linear-gradient(to right, #09134c8c, rgba(0, 0, 0, 0)), url('f42a7555940adcaad3fed869afe4abb1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 2s ease-in-out;
}

.contact {
    background-color: var(--primary-2);
    color: var(--font-color-3);
    width: fit-content;
    margin: 60px auto;
    border-radius: 50px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.contact h6::before{
    content: "|";
    margin-right: 10px;
    padding: 2px;
    color: var(--primary);
    height: 30px;
    width: 60px;
    background-color: var(--primary);
}

.contact .contact-icon {
    display: flex;
    justify-content: center;
}

.contact .feature {
    display: flex;
    flex-direction: column;
}

.contact .feature i {
    background: linear-gradient(145deg, #2c3e50, #273270);
    color: var(--primary-3);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact .form-control {
    background-color: transparent;
    border: 1px solid var(--bg-btn);
}

.contact .form-control::placeholder {
    color: var(--bg-btn); 
}
